# Dependency dan hasil build
node_modules/
dist/

# Local tools and docs development
docs-src/
tools/

# Build log dan cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# Editor & OS-specific
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Misc
*.zip
*.tgz
.env
